body {
  background: #F2EADF;
  color: #8C443E;
  font-family: 'Anton', sans-serif;;
  text-align: center;
  font-size: 30px;
}
h1 {
  font-size: 120px;
  color: #e84905;
  font-family: 'Anton', sans-serif;;
  text-align: center;
  text-shadow: 15px 15px 5px black;
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
  background: #e84905;
  color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 40px;
  -webkit-box-shadow: 15px 15px 0px 5px #000000;
  box-shadow: 15px 15px 5px 5px #000000;
}
a:hover{
  background: #f39a58;
  color: white;
  border-radius: 0px;
}