body {
  background: #065125;
  color: #dda033;
  font-family: "Anton", sans-serif;
  text-align: center;
  font-size: 30px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
}
h1 {
  font-size: 120px;
  color: #dda033;
  font-family: "Anton", sans-serif;
  text-align: center;
  text-shadow: 15px 15px 5px black;
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
  background: #dda033;
  color: black;
  margin: 40px;
  padding: 20px;
  border-radius: 0px;
  -webkit-box-shadow: 15px 15px 5px 5px #000000;
  box-shadow: 15px 15px 5px 5px #000000;
  transition: all 0.5s ease;
}
a:hover {
  background: #E2532F;
  color: white;
  border-radius: 40px;
  transform: scale(1.1);
}
